.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.showMenuBtn {
  position: fixed;
  top: 0;
  right: 0;
  width: 5px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(11, 42, 146);
}

.menu {
  position: absolute;
  top: 0;
  left: 100%;
  transition: all 0.1s linear;
  height: 100vh;
  padding: 10px 3px;
  background-color: rgb(51, 54, 59);
  overflow-y: auto;
  z-index: 2000;
}

.menu.open {
  transform: translate(-100%, 0);
}

.menuItem {
  width: 36px;
  background-color: transparent;
  margin-bottom: 10px;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.menuItem > img {
  width: 100%;
}
