.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.screenshotWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #62b5e5;
  padding: 2px;
}

.screenshotWrap img {
  width: 100%;
  height: 100%;
}

.banner {
  padding: 20px;
  background-color: #62b5e5;
  display: flex;
  align-items: center;
}

.banner img {
  width: 32px;
  height: 32px;
}

.banner h1 {
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 1.4rem;
  color: #fff;
}

.loaderPanel {
  position: relative;
  height: 100%;
  padding: 100px 10px 10px;
  background-size: 100% 100%;
  background-image: url(../../assets/images/hallway.jpg);
}

.loaderPanel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
}

.loaderPanel > div {
  position: relative;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  z-index: 2;
}

.loadingHeader {
  color: #a7d8f5;
  font-size: 1.4rem;
  border-bottom: 1px dotted #a7d8f5;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.loadIndicatorWrap {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #394c5c;
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 0;
}

.loadIndicatorWrap.column {
  flex-direction: column;
  align-items: stretch;
}

.indicatorInnerWrap {
  display: flex;
}

.indicatorIcon {
  width: 20px;
  height: 20px;
}

.indicatorLabel {
  color: #dae6e7;
  font-weight: bold;
  font-size: 0.7rem;
  margin-left: 15px;
}

.indicatorLabel.error {
  color: #e31313;
  font-size: 0.9rem;
}

.indicatorLabel.success {
  color: #25ae88;
  font-size: 0.7rem;
}

.indicatorErrorMsg {
  background-color: #c20b0b;
  color: #fff;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 10px;
  margin: 10px 0 0 35px;
}

.reloadPanel {
  color: #fff;
  background-color: #c20b0b;
  padding: 20px;
  font-size: 0.8rem;
  line-height: 1.8;
}

.reloadPanel a {
  color: #46c3c3;
  font-weight: bold;
  font-size: 0.9rem;
}

.proceedBtnWrap {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 0;
}

.proceedBtn {
  background-color: #62b5e5;
  color: #fff;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
}
